<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="wax-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wax Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wax-link">
                <a href="{% url 'products' %}?category=wax_melts,candles" class="dropdown-item">All</a>
                <a href="{% url 'products' %}?category=wax_melts" class="dropdown-item">Wax melts</a>
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">Candles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="fragrance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fragrances
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fragrance-link">
                <a href="{% url 'products' %}?category=eau_de_toilette,eau_de_parfum" class="dropdown-item">All</a>
                <a href="{% url 'products' %}?category=eau_de_parfum" class="dropdown-item">Eau de Parfum</a>
                <a href="{% url 'products' %}?category=eau_de_toilette" class="dropdown-item">Eau de Toilette</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>